h1 {
    color: gold;
    text-align: center;
}

form {
    background-color: grey;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
}

div {
    text-align: center;
}

body {
    background-color: royalblue;
}

button {
    background-color: gold;
}