h1 {
    color: gold;
    text-align: center;
}

h2 {
    color: gold;
    text-align: left;
}

h3 {
    color: gold;
    text-align: left;
}

h4 {
    color: gold;
    text-align: right;
}

body {
    background-color: royalblue;
}


#lyrics {
    white-space: pre-wrap;
    text-align: center;
    color: beige;
    line-height: 40px;
    font-size: 28px;
}